html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right, #ffe4ec, #fcd5ce);
}

button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #d63384;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #b0256b;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #fc0;
}

p{
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

ul{
    text-align: left;
  display: inline-block;
}

html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
  color: #d63384;
  text-align: center;
}

img {
  display: block;
  margin: 30px auto;
  width: 350px;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
